<nz-header>
    <nz-row nzAlign="middle" nzJustify="space-between">
      <nz-col nzSpan="4">
        <div class="logo">
          <img src="assets/images/logo.png" alt="Logo" />
        </div>
      </nz-col>
      <nz-col nzSpan="12">
        <!-- Esta columna queda vacía para dar espacio entre el logo y los botones -->
      </nz-col>
      <nz-col nzSpan="4">
        <div class="nav-buttons">
          <button nz-button nzType="default" class="create-account-button">Crea Tu Cuenta</button>
        </div>
      </nz-col>
      <nz-col nzSpan="4">
        <div class="nav-buttons">
          <button nz-button nzType="default" class="login-button">Iniciar Sesión</button>
          <button nz-button nzType="default" class="cart-button">
            <i nz-icon nzType="shopping-cart"></i>
          </button>
        </div>
      </nz-col>
    </nz-row>
  </nz-header>
  