nz-header {
    background: #0744A8;
    padding: 0 24px;
    align-items: center;
  
    .logo {
      img {
        height: 35px;
        margin-left: 50%;
      }
    }
  
    .nav-buttons {
      display: flex;
      align-items: center;
  
      button {
        margin-left: 10px;
        height: 45px;
      }
  
      .create-account-button {
        background-color: #FFD700; // Fondo amarillo
        border-color: #FFD700;
        color: #0744A8; // Texto azul
        border-radius: 4px; // Bordes redondeados
      }
  
      .login-button {
        color: #FFD700; // Texto amarillo
        background: transparent;
        border: none;
        border-color: none;
      }
  
      .cart-button {
        width: 40px; // Ancho fijo para botón redondo
        height: 40px; // Alto fijo para botón redondo
        border-radius: 50%; // Botón redondo
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #B4B4B4;
        
      }
    }
  
    @media (max-width: 1280px) {
      padding: 0 16px;
  
      .nav-buttons {
        button {
          margin-left: 8px;
        }
      }
    }
  
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
  
      .nav-buttons {
        margin-top: 8px;
        button {
          margin-left: 0;
          margin-right: 8px;
        }
      }
    }
  }
  