<div class="sidebar">
    <!-- Filtrar por Marcas -->
    <div class="filter-section">
      <h3>Marcas</h3>
      <ul>
        <li>Apple</li>
        <li>Samsung</li>
        <li>Huawei</li>
        <li>Xiaomi</li>
        <li>Oppo</li>
        <li>Sony</li>
        <li>Realme</li>
      </ul>
    </div>
    <!-- Filtrar por Precio -->
    <div class="filter-section">
      <h3>Precio</h3>
      <input type="range" min="100" max="5000" />
    </div>
    <!-- Filtrar por Reviews -->
    <div class="filter-section">
      <h3>Reviews</h3>
      <ul>
        <li>★★★★★</li>
        <li>★★★★</li>
        <li>★★★</li>
      </ul>
    </div>
    <!-- Filtrar por Memoria -->
    <div class="filter-section">
      <h3>Memoria</h3>
      <ul>
        <li>16GB</li>
        <li>32GB</li>
        <li>64GB</li>
      </ul>
    </div>
    <!-- Filtrar por Cámara -->
    <div class="filter-section">
      <h3>Cámara</h3>
      <ul>
        <li>8MP</li>
        <li>12MP</li>
        <li>16MP</li>
      </ul>
    </div>
  </div>
  